aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
charset-normalizer==2.1.0
frozenlist==1.3.0
idna==3.3
multidict==6.0.2
nest-asyncio==1.5.6
nextcord==2.0.0
python-dotenv==0.20.0
SentinelDFI @ SentinelDFI-2-py2.py3-none-any.whl
vt-py==0.17.0
yarl==1.7.2
